<div class="card">
  <h5 class="card-header">
    <p>Your username: <strong>{{currentUser?.name}}</strong> <button class="btn btn-outline-dark btn-sm float-right"
        (click)="rename()">Rename</button> </p>
    <form novalidate name="newMessageForm" (ngSubmit)="sendMessageAllChat()">
      <input type="text" name="newMessage" autofocus autocomplete="off" class="form-control" placeholder="New Message"
        [(ngModel)]="newMessage">
    </form>
  </h5>
  <div class="card-body">
    <p class="card-text" [hidden]="messages.length>0">No messages</p>
    <p class="card-text" [ngClass]="getChatMessageClass(message)" *ngFor="let message of messages"><strong>
        [{{message.username}}]: </strong> {{message.text}}</p>
  </div> 
</div>