<div class="row"  *ngIf="runningGames.length > 0">
  <div class="col-12">
    <div class="alert alert-primary">Games ({{ runningGames.length }}):</div>
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        (click)="joinGame(availableGame)"
        *ngFor="let availableGame of runningGames"
      >
        <div class="ellipsis-text">
          <span *ngIf="availableGame.gameSetup.isPasswordProtected">&#9919;</span>
          <span> {{ availableGame.players[0].user.name }} </span>
        </div>
        <span class="badge badge-pill" [ngClass]="getBadgeClass(availableGame)">
          <span [hidden]="availableGame.gameStarted">({{ availableGame.players.length }}/{{ availableGame.gameSetup.expectedNumberOfPlayers }})</span>
          <span [hidden]="!availableGame.gameStarted">[{{ availableGame.gameSetup.expectedNumberOfPlayers }}]</span>
        </span>
      </button>
    </div>
  </div>
</div>
