<div class="row">
  <div class="col-12 scrollable-div-y" style="height:50vh;">
    <p>Your username: <strong>{{currentUser?.name}}</strong></p>
    <form novalidate name="newMessageForm" (ngSubmit)="sendMessageToGameChat()">
      <input type="text" name="newMessage" autofocus autocomplete="off" class="form-control" placeholder="New Message"
        [(ngModel)]="newMessage">
    </form>
    <div class="card bg-faded p-3">
      <div class="card-block">
        <p [hidden]="messages.length>0">No messages</p>
        <p *ngFor="let message of messages"><strong> {{message.player}}</strong> {{message.text}}</p>
      </div>
    </div>
  </div>
</div>