<div class="row">
  <div class="col-sm-8 col-6">
    <div class="row">
      <div class="col-12 text-center fill-viewport-max-20">
        <h3 class="h3 text-center text-primary">Tressette - Card Game</h3>
        <button class="btn btn-primary my-3" (click)="createGame()" > New Game</button>
      </div>
      <div class="col-12 scrollable-div-y fill-viewport-max-80">
        <app-all-chat></app-all-chat>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-6 fill-viewport-max-100 scrollable-div-y">
    <button class="btn btn-outline-dark btn-sm btn-block my-2" (click)="rename()">Rename</button>
    <app-active-players></app-active-players>
    <app-running-games></app-running-games>
  </div>
</div>


