<div class="row">
  <div class="col-sm-8 text-center">
      <div ngbDropdown>
          <button class="btn btn-primary my-5" ngbDropdownToggle> Create new waiting room</button>
          <div ngbDropdownMenu>
              <button class="dropdown-item" (click)="createNewWaitingRoom(21)">Until 21</button>
              <button class="dropdown-item" (click)="createNewWaitingRoom(41)">Until 41</button>
          </div>
        </div>
  </div>
  <div class="col-sm-4">
    <app-sidebar></app-sidebar>
  </div>
</div>