.player-hand-card {
  width: 10%;
  margin-left: -2%;
}
.player-hand-card:hover {
  margin-top: -20px;
}

.deck {
  max-width: 75px;
}
.deck:first {
  margin-left: 0;
}
.played-card {
  max-width: 75px;
  margin-left: -5%;
}
.first-played-card {
  margin-left: 0;
}
.card-body{
  padding:0;
}