<div class="row">
  <div class="col-12 fill-viewport-max-100 scrollable-div-y">
    <div class="alert alert-primary">
      <h3>Available players:</h3>
    </div>
    <p *ngFor="let player of players">{{player}}</p>
    <div class="alert alert-primary">
      <h3>Available games:</h3>
    </div>
    <button class="btn btn-primary btn-block" *ngFor="let waitingRoom of waitingRooms" [hidden]="activatedRoom?.id==waitingRoom.id"
      (click)="joinWaitingRoom(waitingRoom.id)">{{waitingRoom.connectionId1}}</button>
  </div>
</div>