<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-danger" (click)="leaveWaitingRoom()">Leave waiting room</button>
    <p><strong>Playing until:</strong> {{activatedWaitingRoom.playUntilPoints}}</p>
    <div [hidden]="activatedWaitingRoom.user2">
      <h3>Waiting for another player....</h3>
    </div>
    <div [hidden]="!activatedWaitingRoom.user2">
      <h3>Two players currently joined!</h3>
      <ul>
        <li>{{activatedWaitingRoom.user1.name}}</li>
        <li>{{activatedWaitingRoom.user2?.name}}</li>
      </ul>
      <button class="btn btn-success" (click)="CreateGame()">Start game!</button>
    </div>
  </div>
</div> 