<div class="row mb-3">
  <div class="col-sm-12">
    <button class="btn btn-danger btn-block mb-2" (click)="leaveWaitingRoom()">Leave waiting room</button>
    <div class="alert alert-primary">
      <p><strong>Playing until:</strong> {{activatedWaitingRoom.playUntilPoints}}</p>
      <p><strong>Expected number of players:</strong> {{activatedWaitingRoom.expectedNumberOfPlayers}}</p>
    </div>
    <h3>
      <span class="text-danger" [hidden]="activatedWaitingRoom.users.length==activatedWaitingRoom.expectedNumberOfPlayers">
        Waiting for
        {{activatedWaitingRoom.expectedNumberOfPlayers - activatedWaitingRoom.users.length}} more
        player(s)</span>
      <span class="text-success" [hidden]="activatedWaitingRoom.users.length!=activatedWaitingRoom.expectedNumberOfPlayers">
        All players are here! Game can start!
      </span>
    </h3>
    <ul>
      <li *ngFor="let user of activatedWaitingRoom.users">{{user.name}}</li>
    </ul>
    <button [hidden]="activatedWaitingRoom.users.length!=activatedWaitingRoom.expectedNumberOfPlayers" class="btn btn-success"
      (click)="CreateGame()">Start game!</button>
  </div>
</div>
<app-game-chat></app-game-chat>